@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 10dvh;
    min-height: 62px;
    backdrop-filter: blur(8px);
}

header #header{
    height: 100%;
    padding: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;  
}

header #logo{
    width: 6%;
    opacity: 100%;
}

#switch{
    position: relative;
    display: inline-block;
    width: 10%;
    min-width: 70px;
    max-width: 50px;
    height: 100%;
}

#sliderCB{
    opacity: 0;
    width: 0;
    height: 0;
}

#slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(214, 0, 0);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    height: 80%;
}

#slider:before{
    position: absolute;
    content: "";
    max-width: 30px;
    min-height: 20px;
    height:80%;
    width: 42%;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;    
    border-radius: 50%;
}

input:checked + #slider{
    background-color: #005fac;
}


input:checked + #slider::before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#buscador{
    height: 20px;
    margin: auto;
    width: 40%;
}
main{
    background: url('https://www.shutterstock.com/image-photo/high-definition-star-field-colorful-600nw-1036688914.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: fit-content;
    min-height: 100vh;
}

#mainContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill,270px);
    justify-content: center;
    grid-auto-rows: 390px;
    gap: 20px;
    transition: all ease;
}

.tarjetas{
    border: 2px black solid;
    margin: 4%;
    overflow: hidden;
    position: relative;
}
.tarjetas img{
    width: 100%;
    height: 100%;
}
.hoverTarjeta{
    position: absolute;
    bottom: 0;
    width: 101%;
    height: 22%;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: 0.5s ease;
    flex-direction: column;
    transform: translateY(60%);
    justify-content: space-around;
    gap:20%;
}
.tarjetas:hover > .hoverTarjeta{
    transform: translateY(0%);
}

.botonTarjetas{
    cursor: pointer;
    color: white;
    border: none;
    background-color: transparent;
    border: 2px black solid;
    background-color: rgba(25, 190, 25, 0.739);
    padding: 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    width: 35%;
}

#modal{
    display: none;
    position:fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    backdrop-filter: blur(80px);
    transition: opacity 0.3s ease-in-out;
}
#modal #containerModal img{
    width: 70%;
    height: 100%;
    grid-row: 2;
    border-radius: 20px;
}
#modal #containerModal #about{
    grid-row: 2;
}
#modal #containerModal{
    border: 2px black solid;
    display: grid;
    padding: 3%;
    padding-top: 5%;
    width: 40vw;
    min-width: 290px;
    margin: 5% auto;
    height: 80%;
    grid-template-rows: 1% 69% 30%;
    border-radius: 20px;
    justify-items: center;
    align-content: center;
    background-color: rgba(178, 178, 178, 0.518);
    gap: 10%;
    position: relative;
}

#modal #containerModal #about{
    grid-row: 3;
    font-size: clamp(1.1rem, 3.1333rem + -213.3333vw, 3rem);
    font-family: sans-serif;
    text-align: justify;
}
#modal #closeModal{
    text-decoration: none;
    color: black;
    top: 0;
    right: 0;
    position: absolute;
    margin: 1.5% 2.5%;
    font-size: 1.4rem;
    cursor: pointer;
}
#containerModal #heroName{
    grid-row: 1;
    font-family: 'Bangers', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(2rem, 3.1333rem + -213.3333vw, 3rem);
}

#modal.fade{
    opacity: 1;
}

#buscador{
    border-radius: 10px;
    box-shadow: 1px 5px 7px 1px black;
    padding-left: 15px;
}